<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.planit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus" />
        <activity
            android:name=".activities.CreateTeamActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus" />
        <activity
            android:name=".activities.CreateHabitActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus" />
        <activity
            android:name=".activities.HabitDetailsActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TeamDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus" />

        <activity
            android:name=".activities.ChatActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus" />
            
        <activity android:name=".activities.ChooseModeActivity" />
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus" />
        <activity
            android:name=".activities.EditTaskActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus" />
        <activity
            android:name=".activities.TaskDetailActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarWithStatus" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name="com.example.planit.database.HabitContentProvider"
            android:authorities="com.example.planit.HabitContentProvider"
            android:exported="false" />
    </application>

</manifest>